#1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [30]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
n = text.count("iNeuron")
print(f"Given text: {text} \n 'iNeuron' appears for {n} times")

Given text: Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron
 'iNeuron' appears for 3 times

#2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [ ]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
print(f"Given string: {txt}")
if txt[5:12].endswith("iNeuron."): # as upto n-1
  print("position 5 to 11 ends with the phrase iNeuron. in the string")
else:
  print("position 5 to 11 doesn't end with the phrase iNeuron. in the string")

Given string: Hello, welcome to FSDS 2.0 at iNeuron.
position 5 to 11 doesn't end with the phrase iNeuron. in the string

#3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [14]:
name = input("Enter your full name please: ")
name = name.title() #to make name as title, irrespective of upper/lower case of input
name = name.split(" ") #spliting it..now this is a list with 3 strings
print(f"Abbreviated name: {name[0][0]}.{name[1][0]}. {name[2]}") #accessing strings from lists and using methods on them

Enter your full name please: sunny Bhaveen chandra
Abbreviated name: S.B. Chandra

#4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [15]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
"#".join (LIST)

'My#name#is#Rishav#Dash'

#5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [20]:
x = input("Enter string to chack isdecimal(): ")
x.isdecimal()

Enter string to chack isdecimal(): 7878

True

In [21]:
x = input("Enter string to chack islower(): ")
x.islower()

Enter string to chack islower(): Delhi

False

In [22]:
x = input("Enter string to chack isupper(): ")
x.isupper()

Enter string to chack isupper(): INDIA

True

In [26]:
x = input("Enter string to chack isalpha(): ")
x.isalpha()

Enter string to chack isalpha(): Mumbai

True

In [24]:
x = input("Enter string to chack isnumeric(): ")
x.isnumeric()

Enter string to chack isnumeric(): 7875

True

#6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [27]:
pan = input("Enter your alphanumeric pan no. having 10 characters: \n")
if pan[0:5].isupper() and pan[5:9].isdigit() and pan[9].isupper() and len(pan)==10:
  print("Your pan no. is valid.")
elif not pan[0:5].isupper():
  print("Your pan no. is not valid. Enter correct aphabets in upper case at right places.")
elif not pan[5:9].isdigit():
   print("Your pan no. is not valid. Enter correct  digits at right places.")
elif not pan[9].isupper():
  print("Your pan no. is not valid. Enter correct aphabet in upper case at last place.")
elif len(pan)==10:
  print("Your pan no. is not valid. Enter 10 characters correctly.")

Enter your alphanumeric pan no. having 10 characters:
ASDFG4453J
Your pan no. is valid.