#1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [5]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter
print(Ten)

NameError: ignored

***i. Above error is because python is case sensitive so variables TEN, ten and Ten, all 3 are different***

In [6]:
print = 12 # as a variable
type(print)
print(" Hi there ")

TypeError: ignored

***ii. Above error is because of print is a reserved word..there are 33 reserved words which have predifined meanings and syntax..one should not use these words as variable names because this doing that changes their meanings***

In [7]:
del print # delete the variable print

In [8]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Raj
place: Delhi
year_of_birth: 1998

TypeError: ignored

***iii. Above error is because input() function takes input as a string..so we must change the datatype of year_of_birth to int***

In [9]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2
Enter value of B: 10.2

ValueError: ignored

***iv. Above error is beacause of wrong input. for B, datatype is int but 10.2 is float..so one must give input according to datatype***

In [10]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

***v. Above error is becasuse empty string cannot be converted to other datatypes***

-------------------------------------------

#2. Take input A and B and print their sum, mul, div, square of the nos.

In [4]:
a = int(input("Enter A: "))
b = int(input("Enter B: "))
print(f"The Sum of numbers A and B is {a + b}")
print(f"The Multiplication of numbers A and B is {a * b}")
print(f"The Division of numbers A and B is A/B = {a / b} and B/A = {b /a}")
print(f"The Square of number A is {a**2} and number B is {b**2}")

Enter A: 12
Enter B: 10
The Sum of numbers A and B is 22
The Multiplication of numbers A and B is 120
The Division of numbers A and B is A/B = 1.2 and B/A = 0.8333333333333334
The Square of number A is 144 and number B is 100

#3. How many reserve keywords are there in python and why we should not use them as a variable name.

##*Answer--*
- There are 33 reserve keywords in python as per current version

- We should not use these reserved keywords as variable names beacause these words have specific predifined meanings, syntax and use in Python and if we use them as variable then they will act like a datatype. This will give errors while compiling.

#4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [11]:
first_name = input("Enter your firstname: ")
last_name = input("Enter your lastname: ")
print(f"Your email id is {last_name}.{first_name}@gmail.com")

Enter your firstname: Raj
Enter your lastname: Aryan
Your email id is Aryan.Raj@gmail.com

#5. Try to print the following lines -
Hi I'm Sunny

My address is 22\3

I earn 20$ daily.

In [12]:
name, address, wage = "Sunny", "22\\3", 20

print(f"""
Hi I'm {name}
My address is {address}
I earn {wage}$ daily.
""")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

#6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [14]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
address = input("Enter your address: ")
birthdate = input("Enter your Date of Birth: ")

print(f"\n Full Name: {first_name} {last_name}")
print(f"Address: {address} ")
print(f"Date of Birth: {birthdate}")
print(f"Email id: {last_name}.{first_name}@gmail.com")

Enter your first name: Raj
Enter your last name: Aryan
Enter your address: 24th steet, Delhi
Enter your Date of Birth: 31/12/1998

 Full Name: Raj Aryan
Address: 24th steet, Delhi
Date of Birth: 31/12/1998
Email id: Aryan.Raj@gmail.com

#7. Convert the following -
"22.4" into integer

"22" into complex no.

In [15]:
num1 = "22.4" #this is string
print(f"Before converting, the data type of num1 is: {type(num1)}, value of num1: {num1}")
num1 = float(num1) #22.4 is a float so first convert to float
num1 = int(num1) #now convert to int
print(f"After converting, the data type of num1 is: {type(num1)}, value of num1: {num1}")

Before converting, the data type of num1 is: <class 'str'>, value of num1: 22.4
After converting, the data type of num1 is: <class 'int'>, value of num1: 22

In [16]:
num2 = "22" #this is string
print(f"Before converting, the data type of num2 is: {type(num2)}, value of num2: {num2}")
num2 = complex(num2) #22 is real no. so direct convert to complex
print(f"After converting, the data type of num2 is: {type(num2)}, value of num2: {num2}")

Before converting, the data type of num2 is: <class 'str'>, value of num2: 22
After converting, the data type of num2 is: <class 'complex'>, value of num2: (22+0j)